.header {
    height: 100px;
    background: radial-gradient(circle, #1f4f96, #1b2949, #000);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate-new-array-p {
    cursor: pointer;
    transition: 0.2s;
}
.generate-new-array-p:hover {
    color: #ccc;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: default;
}

.disabled {
    color: #b87fff;
    pointer-events: none;
}
