.header {
    height: 100px;
    /* background-color: rgb(249, 119, 71); */
    background-color: cornflowerblue;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate-new-array-p {
    cursor: pointer;
    transition: 0.2s;
}

.generate-new-array-p:hover {
    color: #ccc;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: default;
}

.disabled {
    color: red;
    pointer-events: none;
}