* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;

}

/* algorithms */

.center-x {
  display: flex;
  justify-content: center;
}

.array-flex-container {
  display: flex;
  align-items: end;
  margin-top: 50px;
  border-bottom: 5px solid skyblue;
  height: 70vh;
}

.box {
  width: 60px;
  background-color: steelblue;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: end;
}